/* Shared Related Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.hide {
  display: none;
}
img {
  width: 100%;
}
.container {
  padding: 0 15rem;
  margin-top: 3.125rem;
}
.btn-primary {
  background: #ff900e;
  border-radius: 8px;
  padding: 25px;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0;
}
.section-title {
  color: #727272;
  font-size: 45px;
  font-weight: 500;
  padding-bottom: 24px;
}
.section-description {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding-bottom: 30px;
}
/* Header Related Style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding-bottom: 3rem;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 3.125rem 14.375rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
nav ul li {
  list-style: none; /* 144.444% */
}
nav ul li a {
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
/* Header Banner Related Style */
.banner-container {
  padding: 0 33.125rem;
  margin: 5.18rem 0;
  text-align: center;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 3rem 0;
}
.banner-image {
  border-radius: 8px;
}
/* Features Section Related Style */
.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
  margin-top: 85px;
}
.feature-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.features-description {
  text-align: justify;
}
.features-content {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}

/* Features row-2 column Start */
.features-row-2-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-top: 60px;
}
.features-titles {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  border-left: 5px solid #ff900e;
  padding-left: 10px;
  margin-top: 50px;
}
.features-info {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 30px;
}
.features-info-details {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.features-images img {
  margin-left: 60px;
  width: 80%;
}
.badge-box {
  border-radius: 8px;
  background: #ff900e;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 100px;
  width: 300px;
}
.badge-title {
  color: #fff;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  line-height: 70px; /* 107.692% */
}
.badge-info {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}

/* Some Facts Related Style */
.text-title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}
.text-title-info {
  color: #727272;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 10px 0;
}

/* Badge Related Style */
.card-body img {
  width: 45px;
  height: 45px;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0;
}
.card-body {
  padding: 60px 45px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
}
.card-body h1 {
  color: #424242;
  font-size: 45px;
  font-weight: 600;
}
.card-body h3 {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

/* Sponspors Company */
.sponspors-content {
  text-align: center;
}
.sponspors-content p {
  margin: 20px 0;
  padding: 0 340px;
}
.sponspors-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
}
.sponspors-container img {
  width: 150px;
  height: 50px;
}
footer {
  margin: 60px 0;
  border-radius: 8px;
  background: #fff4e7;
  text-align: center;
}
.footer {
  padding: 45px;
  color: #424242;
  font-size: 20px;
  font-weight: 400;
}
/* Responsive for Small Device related Style */
@media screen and (max-width: 576px) {
  .nav-container,
  .feature-container,
  .card-container,
  .sponspors-container {
    flex-direction: column;
    row-gap: 1rem;
  }
  .container,
  .nav-container,
  .banner-container,
  .banner-description,
  .banner-title,
  .features-content,
  .card-container,
  .sponspors-content p {
    padding: 10px;
    margin: 0;
  }
  .banner-title,
  .banner-description {
    text-align: justify;
  }
  .banner-title,
  .section-title {
    font-size: 10vw;
  }
  .feature-images,
  .features-row-2-container {
    grid-template-columns: 1fr;
  }
  .features-description {
    width: 90%;
  }
  .features-row-2-container {
    row-gap: 50px;
  }
  .sponspors-container {
    align-items: center;
    gap: 40px;
  }
  /* Some Facts Title */
}
/* Responsive for Medium Device related Style */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .nav-container,
  .feature-container {
    flex-direction: column;
    row-gap: 1rem;
  }
  .card-container,
  .sponspors-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .container,
  .nav-container,
  .banner-container,
  .banner-description,
  .banner-title,
  .features-content {
    padding: 20px;
    margin: 0;
  }
  .features-row-2-container {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 30px;
  }
  .sponspors-container {
    align-items: center;
    gap: 50px;
    padding: 0 200px;
  }
  .sponspors-content p {
    padding: 0 150px;
  }
}

/* Extra Large Device responsive */
@media screen and (min-width: 993px) and (max-width: 1600px) {
  .banner-container,
  .banner-description,
  .banner-title,
  .features-content {
    padding: 20px 10rem;
    margin: 0;
  }
  .features-content {
    padding: 0;
  }
}
